**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.idea
**/.run
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/node_modules
**/npm-debug.log
tests
artifacts
coverage
publish
.github
.claude
*.md
LICENSE
qodana.sarif.json
qodana.yaml
filter.txt
build.cmd
build.sh
