name: GitHub Release

on:
  release:
    types: [ published ]

jobs:
  release:
    name: Release
    permissions:
      id-token: write
      attestations: write
      artifact-metadata: write
      contents: write
    strategy:
      matrix:
        kind: [ 'linux-amd64', 'linux-arm64', 'macos-amd64', 'macos-arm64', 'windows-amd64', 'windows-arm64' ]
        include:
          - kind: linux-amd64
            os: ubuntu-latest
            target: linux-x64
          - kind: linux-arm64
            os: ubuntu-24.04-arm
            target: linux-arm64
          - kind: macos-amd64
            os: macos-15-intel
            target: osx-x64
          - kind: macos-arm64
            os: macos-latest
            target: osx-arm64
          - kind: windows-amd64
            os: windows-latest
            target: win-x64
          - kind: windows-arm64
            os: windows-11-arm
            target: win-arm64
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: Build
        shell: bash
        run: |
          tag=$(git describe --tags --abbrev=0)
          ASSEMBLY_VERSION="${tag//v}"

          # Build everything
          release_name="HostsParser-$tag-${{ matrix.kind }}"
          
          dotnet publish "./src/HostsParser/HostsParser.csproj" -r ${{ matrix.target }} -c Release -o release -p:Version="$ASSEMBLY_VERSION"
          
          if [ "${{ matrix.kind }}" = "windows-amd64" ] || [ "${{ matrix.kind }}" = "windows-arm64" ]; then
            # Pack to zip for Windows
            7z a -tzip "${release_name}.zip" "./release/*"
          else
            # Pack tar.gz for non-Windows
            tar -czvf "${release_name}.tar.gz" -C ./release .
          fi
          
          # Delete output directory
          rm -r "./release"

      - name: Publish
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b
        with:
          files: |
            HostsParser*.zip
            HostsParser*.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Attest build provenance
        uses: actions/attest@v4.1.0
        with:
          subject-path: |
            HostsParser*.tar.gz
            HostsParser*.zip