name: Publish Filter

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 */6 * * *' # Every 6 hours

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
        include-prerelease: false

    - name: Run build.sh
      run: ./build.sh
 
    - name: Run HostsParser
      run: |
        cd ./artifacts
        dotnet HostsParser.dll

    - name: Create public directory
      if: github.ref == 'refs/heads/main'
      run: mkdir ./public

    - name: Copy filter to public directory
      if: github.ref == 'refs/heads/main'
      run: |
        FILTER=./artifacts/filter.txt
        cp $FILTER ./public
        cp $FILTER ./public/hosts

    - name: Create and copy alternates
      if: github.ref == 'refs/heads/main'
      run: |
        cd ./artifacts
        for filename in ../config/*.json; do
            cp $filename ../artifacts/appsettings.json
            dotnet HostsParser.dll
            CONFIG_FILE=$(echo $filename | cut -d'/' -f 3)
            CONFIG=${CONFIG_FILE//json/txt}
            cp $CONFIG ../public/$CONFIG
        done

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      if: github.ref == 'refs/heads/main'
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public
        user_name: 'github-actions[bot]'
        user_email: 'github-actions[bot]@users.noreply.github.com'
        commit_message: ${{ github.event.head_commit.message }}