name: Qodana
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  qodana:
    if: github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write
      security-events: write
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}  # to check out the actual pull request commit, not the merge commit
          fetch-depth: 0
      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@42dad391966aca8ca344ca2340a7f43a5507e9b2
        with:
          pr-mode: true
          args: --baseline,qodana.sarif.json
          upload-result: true
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN_1052839006 }}
          QODANA_ENDPOINT: 'https://qodana.cloud'
      - uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: ${{ runner.temp }}/qodana/results/qodana.sarif.json